<html>
	<head>
		<title>Rachel Kurata-About</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="/css/index.css">
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<!-- Hide this line for IE (needed for Firefox and others) -->
		<![if !IE]>
		<link rel="icon" href="images/tab.png" type="image/x-icon" />
		<![endif]>
		<!-- This is needed for IE -->
		<link rel="shortcut icon" href="images/tab.ico" type="image/ico" />
	</head>
	<body>

	<header id="header" style="top: 0px;">
	<div class="container">
		<div class="row">
			<div class="col-md-6" id="name">
				<a href="/"><img style="width:400px" src="/images/name.png"></a>
				<p>User Experience Designer</p>
			</div>

			<div class="col-md-6">
				<ul>
					<li><a href="/">Portfolio</a></li>
					<li><a class="current" href="/about">About</a></li>
				</ul>
			</div>
		
		</div>
		<hr>
	</div>
	
</header>


	<div class="container" id="about">
		 	<div class="row">
		 		<div class="col-md-3">
		 			<center><img id="about-img" style="width:200px" src="/images/rk.jpg"></img></center>
		 		</div>
				<div class="col-md-9">
					<p>Rachel is a UCSD student graduating in June 2016. She is studying Human Computer Interaction with a minor in business. She loves that being a designer enables her to shape people's interactions and experiences. She is currently a UX intern for Foundation for Learning Equality. She enjoys cold weather, koalas, and baking.</p>
					<br>

					<p>You can reach her at rkurata@ucsd.edu</p><br>
					<a href="https://drive.google.com/file/d/0B4L6ZpAvlp6aTzlWbUF0VFRDWG8/view?usp=sharing">resume</a>

					<!--<a href="/rachelkurata">Resume</a>-->
					
				<!--<object  width="400" height="400" data="/RachelKurata">Resume</object>-->
				</div>
			</div>
		</div>

	</body>
</html>