<head>
	<title>Buddy System Design Process</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/css/index.css">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

	<header id="header" style="top: 0px;">
	<div class="container">
		<div class="row">
			<div class="col-md-6" id="name">
				<a href="/"><img style="width:400px" src="/images/name.png"></a>
				<p>User Experience Designer</p>
			</div>

			<div class="col-md-6">
				<ul>
					<li><a  class="current" href="/">Portfolio</a></li>
					<li><a  href="/about">About</a></li>
				</ul>
			</div>
		
		</div>
		<hr>
	</div>
	
</header>
	
	<div class="container" id="buddysystem">
		<div class="row">
			<div class="col-md-6" id="images">
					<img src="/images/storyboard.png" id="bs-storyboard-img"></img>
						<p>Storyboarding</p>
					<img src="/images/prototype.png" id="bs-paper-img"></img>
						<p>Paper prototypes</p>
					<img src="/images/testing.png" id="bs-testing-img"></img>
						<p>User testing</p>
					<img src="/images/A.png" id="bs-abtest1-img"></img>
						<p>We used A/B testing to compare 2 slightly different interfaces. This is the first version.</p>
					<img src="/images/B.png" id="bs-abtest2-img"></img>
						<p>This is the second version.</p>
				
			</div>

			<div class="col-md-6" id="process">
				<a href="http://mybuddysystem.herokuapp.com"><h1>Buddy System</h1></a>
				<p>Problem: Students that are unmotivated to get to know their professors are missing out on creating valuable relationships that can lead to opportunities in the future.</p>
					
				<p>Solution: We designed our app to encourage student-professor interactions by making it less intimidating. With group appointments, students and their peers can schedule a time to talk to their professors in a casual atmosphere.</p>

				<p>Role: UX designer</p>

				<p>Duration: January-March 2015

				<p>Collaborators: Amanda Luff & Candice</p>

				<p>Type: Mobile Application</p>

				<p>Tools Used: HTML, CSS, NodeJS</p>
				<p>Methods: Needfinding, Storyboarding, Paper Prototyping, User Testing, A/B Testing</p>

				<p>Needfinding: I focused my observations on career-building networks, so I conducted needfinding interviews on major stakeholders, like students, professors, and the career services center on campus. I discovered several breakdowns that became the inspiration of our app.</p>

				<p>Storyboards: We created storyboards to brainstorm user case scenarios and establish personas and the main point of view of our app. We were originally going towards the path of an office hours scheduling app, but through this process, we discovered that there's a greater, underlying need to motivate students to go to office hours in the first place, and we adjusted our focus accordingly.</p>

				<p>Prototyping: We used low-fidelity paper prototypes to flesh out the initial interaction flow of our app. Then, our peers performed heuristic evaluations on our prototypes, based on Jakob Nielsen's 10 Usability Heuristics and ranked the severity of each violation, which helped us prioritize the feedback and make the appropriate changes.</p>

				<p>User Testing: We established a protocol to keep testing consistent across all users, then conducted user tests on actual students. From these tests, we were able to refine our interaction flow so that it prioritized the main tasks of the app.</p>

				<p><img src ="/images/medal.jpg"  style=" width:35px; height:50px" id="medal-img"></img>
					This project was ranked Top in Studio</p>
						
				
				<center><button class="link-button" onclick="window.location.href='http://mybuddysystem.herokuapp.com'">Visit Buddy System</button></center>


			</div>
		</div>
	</div>

<script src="/js/bootstrap.min.js"></script>


</body>