<html>
<head>
	<title>Rachel Kurata</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="css/index.css">
	<link href="css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

<!--========above the fold========-->
<header id="header" style="top: 0px;">
	<div class="container">
		<div class="row">
			<div class="col-md-6" id="name">
				<a href="/"><img style="width:400px" src="images/name.png"></a>
				<p>User Experience Designer</p>
			</div>

			<div class="col-md-6">
				<ul>
					<li><a class="current" href="/">Portfolio</a></li>
					<li><a href="/about">About</a></li>
				</ul>
			</div>
		
		</div>
		<hr>
	</div>
	
</header>

<!--========projects========-->

	<div class="container" id="project-list">

		<div class="row">
			<div class="col-md-4">
				<a href="/projects/buddysystem"><img src="images/bs-img.png"></a>
				<p>Buddy System</p>
			</div>

			<div class="col-md-4">
				<a href="/projects/pricepad"><img src ="images/pricepad-img.png"></a>
				<p>pricePad</p>
			</div>

			<div class="col-md-4">
				<a href="/projects/howl"><img src ="images/howl-img.png"></a>
				<p>Howl</p>
			</div>
		</div>
	</div>


<script src="/js/bootstrap.min.js"></script>
<script>
	/* Smooth scroll to about section after clicking 'about' button */
	$('#about-button').click(function() {
		var $root = $('html, body');
		$root.animate({
			scrollTop: $($.attr(this, 'href')).offset().top
		}, 500);
		return false;
	});
</script>

<script>
	/* Smooth scroll to about section after clicking 'my projects' button */
	$('#project-button').click(function() {
		var $root = $('html, body');
		$root.animate({
			scrollTop: $($.attr(this, 'href')).offset().top
		}, 500);
		return false;
	});
</script>
</body>
</html>