<html>
<head>
	<title>Howl</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../css/index.css">
	<link href="/css/bootstrap.min.css" rel="stylesheet">

	<![if !IE]>
		<link rel="icon" href="images/tab.png" type="image/x-icon" />
		<![endif]>
		<!-- This is needed for IE -->
		<link rel="shortcut icon" href="images/tab.ico" type="image/ico" />
</head>

<body>

	<header id="header" style="top: 0px;">
	<div class="container">
		<div class="row">
			<div class="col-md-6" id="name">
				<a href="/"><img style="width:400px" src="/images/name.png"></a>
				<p>User Experience Designer</p>
			</div>

			<div class="col-md-6">
				<ul>
					<li><a  class="current" href="/

			">Portfolio</a></li>
					<li><a  href="/about">About</a></li>
				</ul>
			</div>
		
		</div>
		<hr>
	</div>
	
</header>


	<div class="container" id="buddysystem">
		<div class="row">
			<div class="col-md-6" id="images">
				<img src="/images/competitiveanalysis.png"></img>
					<p>Using competitive analysis to figure out the best approach to presenting Kolibri's features.</p>

				<img src="/images/iteration1-sketch.png"></img>
					<p>A sketch of our initial idea for the Kolibri features page.</p>
			
				<img src="/images/redesign-sketch.png"></img>
					<p>Brainstorming the redesign of the Kolibri fundraising page.</p>
			
				<img src="/images/kolibri-process.png"></img>
					<p>Redesigning the page to make it more concise. The left version was too long and wordy, so I compressed the information. </p>
		
				<img src="/images/kolibri-process2.png"></img>
					<p>Bringing the puzzle piece metaphor to life, from sketching to creating in Illustrator.</p>
			
				<img src="/images/kolibri-process3.png"></img>
					<p>Making the features section more engaging for users. Instead of reading about how Kolibri can be used, why not show it with an interactive hover interface?</p>
		</div>

			<div class="col-md-6" id="process">
				
				<p>About: The goal of the Kolibri landing page is to showcase the features of Kolibri, an offline learning platform currently being developed by <a href="http://learningequality.org">Foundation for Learning Equality</a>. This page is mainly intended for partners and non-profit organizations interested in learning tools for offline use, or current users of <a href="http://learningequality.org/ka-lite">KA Lite</a>.</p>

				<p>Role: UX Designer</p>
				<p>Duration: July 2015-present</p>
				<p>Collaborators: Kami Wang, Jessica Aceret
				<p>Type: Website</p>
				<p>Tools Used: Illustrator, Axure, HTML, CSS</p>
				<p>Methods: Competitive Analysis, Wireframes, Mockups, Sketching, User Testing

				<p>Process: Initially, there were two separate pages (the features page and the <a href="http://learningequality.org/kolibri">fundraising page</a>). The main focus of the features page (my project) was to showcase Kolibri's features in a concise but informative way. The focus of the fundraising page was more on creating an emotional response in the users to encourage them to donate to our fundraiser.</p>

				<p> We used competitive analysis to see how other companies present their own software features, and gathered ideas from this process. From here, we started producing sketches and low-fidelity prototypes to lay out our initial ideas for the landing page.</p>

				<p>We decided to merge the fundraising and features components into one page, so our new goal was to redesign it in an engaging and creative way, while continuing to present information in the most concise way possible. We came up with the idea of representing Kolibri as a puzzle, to emphasize the fact that there are several different components that work together to compose Kolibri, so I've been working on different ways to represent this idea.</p>

				<p>Next Steps: I recently finished a new wireframe iteration and presented an interactive hover concept at a meeting, which was well-received, so I plan on incorporating more interactive features to make the page more engaging for users. I plan on conducting user tests on these engaging features to see which ones are the most intuitive and effective. Check back soon for more updates!</p> 


				<!--<center><button class="link-button" onclick="window.location.href='http://Howl-cogs187A.herokuapp.com/'">Visit the Kolibri landing page</button></center>-->

			</div>
		</div>
	</div>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>