<html>
<head>
	<title>pricePad Design Process</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/css/index.css">
	<link href="/css/bootstrap.min.css" rel="stylesheet">

	<![if !IE]>
		<link rel="icon" href="images/tab.png" type="image/x-icon" />
		<![endif]>
		<!-- This is needed for IE -->
		<link rel="shortcut icon" href="images/tab.ico" type="image/ico" />
</head>

<body>

<header id="header" style="top: 0px;">
	<div class="container">
		<div class="row">
			<div class="col-md-6" id="name">
				<a href="/"><img style="width:400px" src="/images/name.png"></a>
				<p>User Experience Designer</p>
			</div>

			<div class="col-md-6">
				<ul>
					<li><a  class="current" href="/">Portfolio</a></li>
					<li><a  href="/about">About</a></li>
				</ul>
			</div>
		
		</div>
		<hr>
	</div>
	
</header>

<div class="container" id="buddysystem">
		<div class="row">
			<div class="col-md-6" id="images">
				<img src="/images/axure.png" id="pp-wireframe-img">
					<p>Wireframes</p>
				<img src="/images/iteration-1.jpg" id="pp-version1-img">
					<p>Design Evolution-1st Iteration</p>
				<img src="/images/iteration-2.jpg" id="pp-version2-img">
					<p>2nd Iteration</p>
				<img src="/images/iteration-3.jpg" id="pp-version3-img">
					<p>3rd Iteration</p>
				<img src="/images/loading.jpg" id="pp-vis1-img">
				<img src="/images/loading2.jpg" id="pp-vis1-img" >
					<p>Visibility of System Status </p>
				<img src="/images/help2.jpg" id="pp-vis2-img">
				<img src="/images/help.jpg" id="pp-vis2-img">	
					<p>Match Between System &amp; the Real World/Help and Documentation</h2>
				<img src="/images/freedom.jpg" id="pp-vis3-img">
				<img src="/images/freedom2.jpg" id="pp-vis3-img">
					<p>User Control  &amp; Freedom and Error Prevention</p>
				<img src="/images/recall.jpg" id="pp-vis4-img">
					<p>Recognition over Recall</p>
			</div>

			<div class="col-md-6" id="process">
				<a href="http://chentoocool.herokuapp.com" target="_blank"><h1>pricePad</h1></a>
				<p>About: pricePad is an interactive data visualization tool, designed for homebuyers and home investors. We used Zillow housing data and presented it in a way that allows users to compare the historical profitability trends for different areas in San Diego.</p>

				<p>Role: Interaction Designer</p>
				<p>Duration: May-June 2015</p>
				<p>Collaborators: Sam Ko, Margin Nguyen, Chen Liao

				<p>Type: Website</p>
				<p>Tools Used: Balsamiq, Axure, HTML, CSS, Javascript, D3JS, Google Maps API, Zillow housing data from Delphi</p>
				<p>Methods: Storyboarding, Low/High Fidelity Wireframes</p>


				<p>Wireframes: I used Balsamiq and Axure to create low and high fidelity wireframes. I learned the value of creating wireframes, because they are a great way to get user feedback before taking the time to implement any features.</p>

				<p>Design Evolution: For the first iteration of our design, we wanted to place focus on the map, because users have to start by selecting regions on the map in order to feed the appropriate data to the graphs. However, it was taking up too much space, making it difficult for users to accurately read the visualizations and understand them.</p>

				<p>For our second iteration, we removed the map from the visualizations page. We also experimented with a stacked bar chart, to show comparisons between median list price and median sale price, but it was not an effective method for conveying these trends together.</p>

				<p>For our third iteration, we decided to put the map in a modal, so that users could easily refer back to it at any time. We changed our bar graph to better present the trends between sale price and list price. Removing the map made more room for our visualizations, which improved the comprehensibility and usability of our application. </p>

				<p>Visibility of System Status: I often referred to Jakob Nielsen's 10 Usability Heuristics to evaluate the usability of our website. Our visualizations take a while to load, because of the amount of data that's being processed. Users may think something is wrong with the website, so it was important to address this issue. We implemented a loading bar in the map modal and included a loading message to warn users that loading may take longer than the progress bar suggests. We also included loading animations for each visualization, in case they haven't finished loading by the time the modal closes.</p>

				<p>Match Between System & the Real World/ User Help & Documentation: There were a lot of housing terms used that are not self explanatory for the everyday user. To solve this problem, we created a help modal, where we defined the data presented and explained how it can be useful. We also used our help modal to guide users through each visualization and tell them how they can interact with them. Each description in the help modal directly  maps to the appropriate visualization, so that it's very clear to the user.</p>

				<p>User Control & Freedom/ Error Prevention: We had to limit the amount of regions a user can select at one time to reduce the loading times, but we also wanted to provide users with the freedom to compare as many areas as possible. We created an option for users to edit their selected regions on the map. For error prevention, we enable users to completely clear their selected regions, along with the accompanying visualizations in case they accidentally pick the wrong regions and want to start over.</p>

				<p>Recognition over recall: Since we had to remove the map from the visualizations page in order to save space, there's a chance that users may forget what regions they selected. This would make it difficult to draw conclusions about the data they are looking at. To solve this issue, we made sure to display the names of the selected regions on the visualizations page. </p>

					<center><button class="link-button" onclick="window.location.href='http://chentoocool.herokuapp.com'">Visit pricePad</button></center>
			</div>
		</div>
				
</div>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>