@font-face{
	font-family:bebas;
	src: url(fonts/BEBAS___.ttf);
	font-family: "Grand Hotel";
	src: url(fonts/GrandHotel-Regular.otf);
}

.banner{
	/*margin-left:auto;
	margin-right:auto;
	margin-top:20px;
	width:50%;
	height:80px;
	background-color:#eeadc2;
	padding-bottom:5px;
	text-align:center;
	font-family:"Grand Hotel";
	font-size:65px;*/
	margin-top:20px;
	margin-bottom:10px;
	padding-top:10px;
	padding-bottom:20px;
	background:url(../images/banner2.jpg);
	background-repeat:no-repeat;
	background-position:center;
	text-align:center;
	font-family:"Grand Hotel";
	font-size:70px;
}

.banner2{
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
	width:50%;
	height:80px;
	background-color:#eeadc2;
	padding-bottom:0px;
	text-align:center;
	font-family:"Grand Hotel";
	font-size:50px;

}

 
table  {
	width:70%;
	margin-left:auto;
	margin-right:auto;
	border-spacing:30px;
	font-size:20px;
}

#title {
	text-align:center;
	font-family:bebas;
	font-size: 25px;
}

#type {
	font-family:Georgia;
	font-style:italic;
	text-align:center;
	padding-top:-10px;
	font-size:15px;
	margin-bottom:15px;
}

td {
	/*height:500px;*/
	width:100px;
	padding:20px;
	background-color:#E4E7EB;
}

#white {
	background-color:#ffffff;
	margin-top:auto;
	margin-left:auto;
	margin-right:auto;
	/*height:90%;*/
	padding-top:5px;
	padding-bottom:15px;
	padding-left:7%;
	padding-right:7%;
	font-family:georgia;
}

a {
	color:#e583a3;
	font-size:20px;
	text-decoration:none;

}

a:hover{
	text-decoration:underline;
}

a:visited {
	color: #e583a3;
	font-size:20px;
	text-decoration:none;
}
 

