/*=========global variables==========*/

/*color:#bfddd5; (seafoam)*/
/*color:#BCBCBC; (grey)*/
/*color:#e583a3; (pink)*/

@font-face{
	font-family: "Lobster";
	src: url(fonts/Lobster.otf);
}

@font-face{
	font-family:bebas;
	src: url(fonts/BEBAS.ttf);
}

body{
	margin-left:8%;
	margin-right:8%;
}

p {
	font-family:"georgia";
	font-size:20px;
}


.section-divider p{
	background:url(../images/section-banner.png);
	background-repeat:no-repeat;
	background-position:center;
	font-family:"Lobster";
	color:#ffffff;
	font-size:70px;
	margin-top:3%;
	text-align:center;
	margin-bottom:7%;

}

/*========above the fold==========*/

.container{
	margin-bottom:6%;
}

.banner{
	padding-top:35%;
	background:url(../images/banner-2.png);
	background-repeat:no-repeat;
	background-position:center;
}

#title-links{
	margin-bottom:20%;
}

/*=========about section==========*/


 
#about-subsection h1{
	font-family:"bebas";
	font-size:55px;
	color:#BCBCBC;
}

#about-subsection p{
	font-family:"georgia";
	font-size:20px;
}

#work p{
	margin-bottom:10%;
}

#resume img{
	width:90%;
}

/*=========project section==========*/

#projects{
	margin-top:-5px;
}

#project-list h1{
	font-family:"bebas";
	color:#e583a3;
	font-size:55px;
	margin-bottom:7%;
}

#project-list b{
	font-family:"bebas";
	color:#BCBCBC;
	font-size:20px;
}

#project-list{
	font-family:georgia;
	font-size:20px;
}

#award{
	margin-top:5%;
}

#links{
	margin-top:8%;
}


#project-list-img{
	width:90%;
}


/*========links==========*/

.links-section p{
	background:url(../images/section-banner.png);
	background-repeat:no-repeat;
	background-position:center;
	font-family:"Lobster";
	/*color:#bfddd5; (seafoam)*/
	color:#ffffff;
	font-size:55px;
	margin-top:3%;
	text-align:center;
	padding-top:3%;
	padding-bottom:3%;

}

/*==========bs link=======*/
#buddysystem .row{
	margin-bottom:10%;
}

#buddysystem h1{
font-family:"bebas";
	color:#e583a3;
	font-size:55px;
	margin-bottom:7%;
}

#bs-storyboard-img{
	width:100%;
	margin-top:25%;
}

#bs-paper-img{
	width:100%;
	margin-top:25%;
}


#bs-testing-img{
	width:100%;
	margin-top:25%;
}

#bs-abtest1-img{
	width:55%;
	margin-top:25%;
	
}

#bs-abtest2-img{
	width:55%;
	margin-top:5%;
}

/*=====pricepad link=====*/

#links img{
	width:75%;
}

#pp-storyboard-img{
	width:100%;
}

#pp-storyboard{
	margin-top:10%;
}


#pp-wireframe-img{
	width:100%;
}

#evolution h2{
	color:#e583a3;
	font-family:"Georgia";
	font-style:italic;
	font-size:35px;
	margin-bottom:5%;
}

#pp-version1-img{
	width:200%
}

#pp-version2-img{
	width:100%;
}

#pp-version3-img{
	width:100%;
}

#pp-vis1-img{
	width:100%;
}

#pp-vis2-img{
	width:100%;
}

#pp-vis3-img{
	width:100%;
}

#pp-vis4-img{
	width:100%;
}


/*====responsive=======*/
@media (max-width: 990px) {
	.banner {
		background-size: 70%;
	}
	
	#title-links{
		margin-top:5%;
	}

	#title-links img{
		width:30%;
	}

	.section-divider p{
		background-size:70%;
		font-size:50px;
	}

	#about-subsection h1{
		font-size:40px;
	}

	#resume img{
		width:40%;
	}

	#project-list h1{
		font-size:40px;
	}

	#links img{
		width:30%;
	}
	#project-list-img{
		width:40%;
	}
}

@media (max-width: 890px) {
	#title-links img{
		width:25%;
	}
	#resume img{
		width:35%;
	}
}

@media (max-width: 790px) {
	#title-links img{
		width:20%;
	}
}

@media (max-width: 660px) {
	.section-divider p{
		font-size:40px;
	}
	#about-subsection h1{
		font-size:30px;
	}
	#project-list h1{
		font-size:30px;
	}
}

@media (max-width: 550px) {
	.section-divider p{
		font-size:30px;
	}
	#about-subsection h1{
		font-size:25px;
	}
	#project-list h1{
		font-size:25px;
	}
}

@media (max-width: 500px) {
	#title-links{
		margin-top:20%;
	}
	#title-links img{
		width:30%;
	}
	#links img{
		width:35%;
	}
	
}

@media (max-width: 400px) {
	.section-divider p{
		font-size:25px;
	}
}